 * {
     margin: 0;
     padding: 0;
 }

 /* 
    div {
        border: 2px solid blue;
    } */

 nav {
     display: flex;
     /* border: 2px solid black; */
     justify-content: space-around;
     height: 100px;
     align-items: center;
     /* gap: 50px; */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #3f3f3f;
     /* align-items: baseline; */
     /* gap: 0px 180px; */
 }


 .box1 .logo1 {
     height: 60px;
     width: 193px;
     align-self: center;
     /* border: 2px solid red; */
     position: relative;
     cursor: pointer;

 }

 .box1 .logo2 {
     height: 12px;
     width: 82px;
     align-self: center;
     /* border: 2px solid blueviolet; */
     position: absolute;
     left: 219px;
     top: 67px;
 }

 .boxes {
     /* border: 2px solid green; */
     display: flex;
     /* justify-content: space-around; */
     /* flex: 1; */
     /* margin: 36px 0px 0px 0px; */
 }

 .box1 {
     /* width: 25%; */
     /* flex: 1; */
     justify-content: center;
     /* align-items: center; */

 }

 .box2 ul {
     display: flex;
     list-style-type: none;
     /* align-items: center; */
     gap: 35px;


 }

 .box2 ul li {
     /* width: 50%; */
     /* justify-content: space-around; */
     /* flex: 2; */
     /* align-items: baseline; */
     color: #3f3f3f;
     display: flex;
     align-items: center;
     gap: 5px;
     cursor: pointer;
 }

 .box3 {
     /* width: 25%; */
     /* flex: 1; */
     gap: 30px;
     align-items: baseline;
     /* align-items: center; */
     cursor: pointer;


 }


 .box3 button {
     border: 2px solid rgb(34, 34, 34);
     padding: 10px 20px;
     background-color: white;
     font-weight: 750;
     font-size: 15px;
     border-radius: 5%;
     color: #212221;
     cursor: pointer;

 }

 .Titles div h1 {
     font-weight: 800;
     /* font-size: 15px; */
     color: #212221;

 }